In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [7]:
data = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/car/car.data', names=names)

In [8]:
names= ['maint',
'doors',
'persons',
'lug_boot',
'safety ',]

In [9]:
data.head()

            maint doors persons lug_boot safety
vhigh vhigh     2     2   small      low   unacc
      vhigh     2     2   small      med   unacc
      vhigh     2     2   small     high   unacc
      vhigh     2     2     med      low   unacc
      vhigh     2     2     med      med   unacc

In [10]:
x=data.iloc[:,:-1]

In [11]:
y=data.iloc[:,-1]

In [12]:
x.isnull().values.any()

False

In [13]:
x.empty

False

In [14]:
from sklearn.preprocessing import Normalizer,LabelEncoder

In [15]:
nor_x = LabelEncoder
nor_y = LabelEncoder

In [16]:
x = pd.get_dummies(x)
y = pd.get_dummies(y)

In [18]:
y

             acc  good  unacc  vgood
vhigh vhigh    0     0      1      0
      vhigh    0     0      1      0
      vhigh    0     0      1      0
      vhigh    0     0      1      0
      vhigh    0     0      1      0
      vhigh    0     0      1      0
      vhigh    0     0      1      0
      vhigh    0     0      1      0
      vhigh    0     0      1      0
      vhigh    0     0      1      0
      vhigh    0     0      1      0
      vhigh    0     0      1      0
      vhigh    0     0      1      0
      vhigh    0     0      1      0
      vhigh    0     0      1      0
      vhigh    0     0      1      0
      vhigh    0     0      1      0
      vhigh    0     0      1      0
      vhigh    0     0      1      0
      vhigh    0     0      1      0
      vhigh    0     0      1      0
      vhigh    0     0      1      0
      vhigh    0     0      1      0
      vhigh    0     0      1      0
      vhigh    0     0      1      0
      vhigh    0     0      1      0
      vhigh    0     0      1      0
      vhigh    0     0      1      0
      vhigh    0     0      1      0
      vhigh    0     0      1      0
...          ...   ...    ...    ...
low   low      0     0      1      0
      low      0     1      0      0
      low      0     0      0      1
      low      0     0      1      0
      low      0     0      1      0
      low      0     0      1      0
      low      0     0      1      0
      low      0     0      1      0
      low      0     0      1      0
      low      0     0      1      0
      low      0     0      1      0
      low      0     0      1      0
      low      0     0      1      0
      low      1     0      0      0
      low      0     1      0      0
      low      0     0      1      0
      low      0     1      0      0
      low      0     0      0      1
      low      0     0      1      0
      low      0     1      0      0
      low      0     0      0      1
      low      0     0      1      0
      low      1     0      0      0
      low      0     1      0      0
      low      0     0      1      0
      low      0     1      0      0
      low      0     0      0      1
      low      0     0      1      0
      low      0     1      0      0
      low      0     0      0      1

[1728 rows x 4 columns]

In [19]:

from sklearn.metrics import accuracy_score

In [20]:
exactitud = accuracy_score